*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
 line-height: 1.6;
  min-height: 100vh;

 font-family: 'Nunito', sans-serif;
}

.logo{
    /* color:#8CBA51 ; */
    font-size: 2rem;
    color: rgb(14, 13, 13);
}
.logo span{
    font-size: 1.2rem;
   
}

.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 100px;
   background-color: white;
   /* box-shadow: 2px green;
   border:2px solid red; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 2vw;
   
}
li{
    display: flex;
   outline: none;
text-decoration: none;
list-style: none;
   
    color: rgb(4, 4, 4);
    font-size: 20px;

   
}

li:hover{
    border-bottom: 2px solid black;
  
}


.language-option {
    background-color: none;
    /* color: #8CBA51 ; */
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 180px;
    border-radius: 5px;
    margin-top: 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
   padding: 2px ,4px;
   
}

.dropdown-content>p:hover {
    color: #ed9818;
}
.dropdown-content p{
   padding: 3px;
}

.dropdown-content>p>img {
    height: 15px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

/* hero starts here */
.hero-sec {
    height:530px;
  /* background-color: #000; */
 
  width: 100%;
position: absolute;
}

#hero-headline {
   
    display: flex;
    justify-content: left;
    align-items: center;
  height: 50vh;
    width:80%;
   
  margin: auto;
  position: relative;
}

.main {
   
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    margin:auto ;
}

.main p{
    color: white;
    font-size: 12px;
    color: black;
}
.main h1 {
    text-align: center;
    text-transform: uppercase;
   /* color: rgb(61, 126, 64); */
   color: orange;
    font-size: 6vw;
    margin-top: 200px;
}

.exibition{
    width: 100%;
    height: 600px;
   margin-top: 600px;
 background-color:white;
 /* color: #000; */
 color: orange;
 font-weight: bold;
}

.first{
    font-size: 3rem;
    text-align: center;
  border: 2px solid white;
  
   
}
.first p{
   margin-top:20px;
}

.second{
    width: 90%;
    display: grid;
    align-items: center;
    justify-content: center;
   grid-auto-flow: column;
   gap: 5em;
  
   margin: auto;
 margin-top: 120px;
    
}
.second a{
    outline: none;
    text-decoration: none;
}
.second img:hover{

  border-radius: 50%;
    scale: 0.8;
    transition: 0.3s;
}
.seconddiv{
    width: 300px;
    height: 300px;
 

}


.seconddiv img{
    margin-left: 40px;
    width: 200px;
}



.description{
    margin: auto;

    text-align: center;
}
.description2{
    margin-top: 20px;
  
    text-align: center;
    
}


/* Gallery */

.title-gallery {
    text-align: center;
    font-size: 3em;
  margin-top: 30px;
   position: relative;
   /* color: rgb(61, 126, 64); */
   color: orange;
   font-weight: bold;
    
}
.title-gallery p{
     margin-top: 90px;
}
.gallery-section{
    width: 100%;
    height: 80em;
  
margin-top: 20px;
/* background-color: #000; */
  
}
.gallery{
  margin: auto;
    width:90%;
    display: grid;
 grid-template-columns: repeat(3 ,30%);
  margin-top: 80px;
    gap: 1.8em;
    
}
.gallery img{
   width: 100%;
   height: 200px;
   border-radius: 10px;
   object-fit: cover;
}
.gallery img:hover{
    opacity: 0.4;
    cursor: pointer;
}
.box{
   
   height: 200px;
   margin-left: 20px;
   border-radius: 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-btn{
    width: 200px;
    height: 50px;
    text-align: center;
   font-size: 18px;
   border-radius: 5px;
   margin-top: 50px;
   outline: none;
  border-style: none;
  /* background-color: rgb(114, 181, 110); */
  background-color: orange;
  color: rgb(6, 5, 5);

}
.explore-btn:hover{
    /* background-color: #c2eb9f; */
    background-color: rgb(249, 202, 113);
    cursor: pointer;
}

/* About section */

.about{
    width: 100%;
        height: 40em;
        /* background-color: #000; */
        background-color: white;
        color: black;
 
   }
    .title-about{
        font-size: 3em;
       /* color: rgb(3, 3, 3); */
       color: orange;
       text-align: center;
       margin-top: 80px;
       border: 2px solid white;
       font-weight: bold;
     
    }
    .title-about p{
        margin-top: 60px;
        font-weight: bold;
    }


    .about-section{
        width: 80%;
        margin-top: 20px;
       
        display: grid;
        grid-template-columns: repeat(2,40%);
        color: rgb(8, 8, 8);
      
        margin:auto;
        margin-top: 60px;
        padding: 20px;
    }

    .about-img{
        width: 300px;
        height: 200px;
        margin-top: 40px;
    }
    .about img{
        width: 450px;
        height: 250px;
        border-radius: 5px;


        aspect-ratio: 1;
        outline: calc(450/2) solid #0009;
        outline-offset: calc(450/-2);
        cursor: pointer;
        transition: .3s;
    }

    .about img:hover {
        outline: 4px solid #eff3ef;
        outline-offset:24px;
        opacity: 0.8;
        scale:1;
      }
    .about-description{
        margin-left: 120px;
        width: 400px;
    }
    .about-description p{
        margin-top: 20px;
    }
    .about-artesion{
        display: flex;
        flex-direction: row;
        color: #0c0c0c;
        
    }
    .about-artesion img{
        color: white;
        width: 80px;
        height: 80px;

    }
    .about-artesion h3{
        font-size: 1.5rem;
        margin-left: 10px;
        margin-top: 20px;
        
    }






    /* Seach filter */

    .search-div{
       
        width: 90%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:auto;
    }

    .contain{
        width: 80%;
        height: 200px;
     
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .search{
        width: 400px;
        height: 40px;
        border-radius: 30px;
        background-color: #f7f6f4;

    }
    .search input{
        width: 350px;
        height: 40px;
        border-radius: 30px;
        border-style: none;
        padding: 20px;
        outline: none;
    }
    .search i{
        font-size: 20px;
        padding: 2px;
        color :rgb(69, 67, 67);
      
    }
    .buttoncontainer{
        width: 650px;
        height: 40px;
        margin: 30px;
        margin-top: 40px;
        border-radius: 8px;
      
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnselect{
        width: 100px;
        height: 40px;
      border-radius: 6px;
       margin: 10px;
       border-style: none;
       font-size: 1rem;
       /* background-color: rgb(114, 181, 110); */
       background-color: #ed9818;
    }
    .btnselect:hover{
        /* background-color: #c2eb9f; */
        background-color: rgb(249, 202, 113);
    }

    
    /* upcoming exibition */
.upcoming{
    width: 100%;
    height: 50em;
    background-color: #000;
    

}

.upcoming-exhib{
    color: white;
    text-align: center;
    font-size: 3rem;
   font-weight: bold;
    /* color: rgb(61, 126, 64); */
    color: orange;
}
.upcoming-exhib p{
    margin-top: 70px;
}
.row{
    width: 90%;
    margin-top: 150px;

    display: grid;
    grid-template-columns: repeat(3,30%);
    color: rgb(10, 9, 9);
    margin:auto;
    margin-top: 60px;
    padding: 20px; 
    color: white;  
   
  
}


.column{
    width: 300px;
    height: 350px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   color: white;
   background: #383737;
   margin-left: 130px;
}

.column:hover{
    scale: 1.2;
    transition: .4s;
}
.card img{
    
    width: 300px;
    height: 200px;
}
.details{
    text-align: center;
    margin: 20px;
}


/* Footer */

.footer{
    width: 100%;
    height: 30em;
  background-color: white;
  color: #000;
margin-top: 300px;

}


.grid-footer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    margin: auto;
  
  background-color: white;
}


.box1{
 
   margin: 20px;
    font-size: 1rem;
}

.box3{
   
    margin: 20px;
}
.box3 p{
    font-size: 1rem;
    font-weight: bold;
   
}

.box2{
    display: flex;
  
   
 }
.box2 li{
    font-size: 1rem;
    margin-top: 10px;
}
.box4{
   
    margin: 20px;
}
.box4 p{
margin-top: 20px;

}
.box4 input{
    text-decoration: none;
    outline: none;
    border-radius: 3px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px, rgba(0, 0, 0, 0.13) 0px 3px 3px;
    height: 40px;
    width: 270px;
display: flex;
flex-direction: row;
padding: 4px;
margin: 8px;
margin-top: 30px;
}

.footer-btn{
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 4px;
   margin-left: 70px;
   margin-top: 30px;
   background: #000;
   color: white;
}
.footer-btn:hover{
    background-color: orange;
}

.icons{
    display: flex;
    margin-top: 20px;
  
}
.icons li{
    padding: 10px;
    font-size: 2rem;
}
.icons li:hover{
    /* color: green; */
    color: orange;
    scale: .9;
    transition: 0.3s;
}

.giphy img{
    width: 220px;margin-top: 120px;
  
   
}
@media (min-width:200px) and (max-width:1050px){
    .hero-sec {
        height:600px;
     
      width: 100%;
    position: absolute;
    }
    li{
        display: none;
       outline: none;
    text-decoration: none;
    list-style: none;
       
        /* color: #8CBA51 ; */
        color: black;
    
       
    }
   


    .second{
        width: min(95% , 70rem);
        display: grid;
        align-items: center;
        justify-content: center;
       grid-auto-flow:row;
       
       margin: auto;
     margin-top: 40px;
        
    }
    .seconddiv{
        width: 300px;
        height: 300px;
     
    }
    .seconddiv img{
     margin-left: 40px;
    }
    .exibition{
        width: 100%;
        height:80em;
      
        margin-top: 600px;
     
    }
    .title-gallery{
        font-size: 3em;
      
    }
    .title-gallery p{
       margin-top: -4px;
       margin-bottom: 80px;
    }
    .gallery-section{
        width: 100%;
        height: 80em;
       margin-top: 20px;
      background-color: #000;
    }
    .gallery{
      margin: auto;
        width:90%;
        display: grid;
     grid-template-columns: repeat(3 ,30%);
      
        gap: 1.8em;
    }
    .gallery img{
        width: 100%;

    }
    .box{
      
       height: 200px;
     
    }

  
    .about-section{
        width: 90%;
        margin-top: 20px;
    
        display: grid;
        grid-template-columns: repeat(2,45%);
        color: rgb(10, 9, 9);
        margin:auto;
        margin-top: 60px;
       
    }

   
    .about img{
        width: 200px;
        height: 200px;
        border-radius: 5px;
    }

    .about-description{
    
        width: 300px;
     margin-left: 30px;
  
    }
    .about-description p{
        margin-top: 20px;
    }
    .about-artesion{
        display: flex;
       
        color: #0c0c0c;
        
    }
    .about-artesion img{
        color: white;
        width: 60px;
        height: 60px;

    }
    .about-artesion h3{
        font-size: 1rem;
        margin-left: 10px;
        margin-top: 20px;
        
    }


    /* upcomming events */
    .upcoming{
        width: 100%;
        height: 80em;
        background-color: #000;
 
    
    }
    
    .upcoming-exhib{
        color: white;
        text-align: center;
        font-size: 3rem;
        /* margin-top: 20px; */
    }
    .row{
        width: 90%;
        
      gap: 120px;
        display: grid;
        grid-template-columns: repeat(2,30%);
        color: rgb(10, 9, 9);
        margin:auto;
     
        padding: 20px; 
        color: white;  
       
        margin-top: 100px;
    }
    
    
    .column{
        width: 300px;
        height: 350px;
       border-radius: 5px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
       color: white;
       background: #383737;
       margin: auto;

      
    }
    
    .card img{
        
        width: 300px;
        height: 200px;
    }
    
    /* footer */
.footer{
    height: 30em;
}
    .grid-footer{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,45%);
        margin: auto;
      
       margin-top: -200px;
    }
    .box2{
        display: flex;
       
       margin: 20px;
     }
    
    .box3{
        width: 200px;
        font-size:1rem ;
    }
    .box3 li{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    .box3 p{
        font: bold;
    }
  
    .box4{
        margin: 5px;
        padding: 12px;
    }
    
    .icons{
        display: flex;
        margin-top: 20px;
      
    }
    .icons li{
        padding: 10px;
        font-size: 2rem;
    }


    /* search and filter */

    .search-div{
            width: 90%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contain{
        width: 80%;
        height: 250px;
     
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .search{
        width: 200px;
        height: 40px;
        border-radius: 30px;
        background-color: #f7f6f4;

    }
    .search input{
        width: 150px;
        height: 40px;
        border-radius: 30px;
        border-style: none;
        padding: 20px;
    }
    .search i{
        font-size: 20px;
        padding: 2px;
        color :rgb(69, 67, 67);
      
    }
    .buttoncontainer{
        width: 40%;
        height: 40px;
        margin: 30px;
        margin-top: 40px;
        border-radius: 8px;
      
        font-size: 1rem;
        display: grid;
        grid-template-columns:auto auto auto;
    
    }
    .btnselect{
        width: 100px;
        height: 40px;
      border-radius: 6px;
       margin: 10px;
       border-style: none;
       font-size: 1rem;
       background-color: rgb(114, 181, 110);
    }

}





@media (min-width:200px)and (max-width:700px){


.hero-sec{
    height: 600px;
}

    .main{
        width: 500px;
        display: flex;
        flex-direction: row;
        border: 2px solid orange;
        margin-top: 100px;
    }
   

    .giphy{
        margin-top: -180px;
        display: flex;
        justify-content: center;
      align-items: center;
      margin-left: -120px;
    }

    
    .main img{
        width: 200px;
        margin-left:-120px;
    }
    .main h1{
        font-size:30px;
        margin-top: 300px;
display: flex;
margin-left: -40px;

       
    }
   
    .first{
        font-size: 2rem;
        margin-top: 120px;
    }
    .first p{
        margin-top: 80px;
    }

    .gallery-section{
        width: 100%;
        height: 70em;
        margin-top: 60px;
  
    }

    
    .gallery{
      margin: auto;
        width:90%;
        display: grid;
     grid-template-columns: repeat(2 ,45%);
       margin-top: 20px;
        gap: 1em;
    }
    .gallery img{
        width: 100%;
        height: 100px;
    }
    .title-gallery p{
        font-size: 2rem;
        margin-top: 40px;
        position: relative;
    }

    .box{
      
       height: 100px;
     
    }

    .about-section{
        width: 90%;
        margin-top: 20px;
       
        display: grid;
        grid-template-columns: repeat(1,45%);
        color: rgb(10, 9, 9);
        margin:auto;
        margin-top: 30px;
       
    }
    .about img{
        width: 250px;
        height: 180px;
        border-radius: 5px;
        margin-left: 2px;
    }


    .about-description{
       
           width: 300px;
         margin-left: -15px;
         padding: 6px;
       }
       .about-description p{
           margin-top: 20px;
       }
       .about-artesion{
           display: flex;
          
           color: #0c0c0c;
           
       }
       .title-about{
        font-size: 2rem;
        margin-top: 20px;
       }
       .about-artesion img{
           color: white;
           width: 40px;
           height: 40px;
   
       }
       
       .about{
        width: 100%;
            height: 60em;
            /* background-color: #000; */
     
       }


       /* ongoing event */

       .row{
        width: 90%;
        margin-top: 280px;
      gap: 90px;
        display: grid;
        grid-template-columns: repeat(1,30%);
        color: rgb(10, 9, 9);
        margin:auto;
      
        padding: 20px; 
        color: white;  
        margin-top: 50px;
      
    }
    .column{
        width: 250px;
        height: 330px;
       border-radius: 5px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
       color: white;
       background: #383737;
       margin-left: 5px;

      
    }
    .upcoming{
        width: 100%;
        height: 60em;
     
   
    
    }
    
    .card img{
        
        width: 250px;
        height: 150px;
    }
    
    .upcoming-exhib{
        font-size: 2rem;
      margin-top: 20px;
    }
    /* footer */
    .box4 input{
        width: 200px;
    }
    .footer-btn{
        margin: 30px;
    }
    .footer{
      
        height: 20em;
    }
    .grid-footer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,50%);
        margin: auto;
       
        margin-top: -205px;
    }
    
    .box1{
        width: 300px;
        height: 300px;
  margin-left: 9px;
       
    }
    .box2{
        width: 300px;
        height: 300px;
     
        margin-left: -1px;
    }
    .box4{
        width: 300px;
        height: 380px;
    
         
    }
    .box4 input{
        margin: 8px;
        width: 260px;
    }
    .footer-btn{
        margin-left: 62px;
    }
    
    .icons{
        display: flex;
        font-size: 1rem;
    }
   


    .search-div{
      
        width: 90%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contain{
        width: 80%;
        height: 300px;
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .search{
        width: 200px;
        height: 40px;
        border-radius: 30px;
        background-color: #f7f6f4;

    }
    .search input{
        width: 150px;
        height: 40px;
        border-radius: 30px;
        border-style: none;
        padding: 20px;
    }
    .search i{
        font-size: 20px;
        padding: 2px;
        color :rgb(69, 67, 67);
      
    }
    .buttoncontainer{
        width: 40%;
       
  
        border-radius: 8px;
      
        font-size: 1rem;
        display: grid;
        grid-template-columns:auto auto;
    
    }
    .btnselect{
        width: 100px;
        height: 40px;
      border-radius: 6px;
       margin: 10px;
       border-style: none;
       font-size: 1rem;
       background-color: rgb(114, 181, 110);
    }

}