:root{
    --main-color:#00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: #c0dbea;
    --border:  .1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/* -----------------------------main sections--------------- */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s ease-in;
    scroll-behavior: smooth;
    scroll-padding-top: 16vh;

}

.hero{
    width: 100%;
    height: 600px;
    background: #000;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 400px;
    height: 300px;
    font-family: 'Nunito', sans-serif;
    margin-left:120px
}
.left {
    width: 50%;
    height: 300px;
    font-family: 'Nunito', sans-serif;
    margin: 10px;   
    margin-left:50px;
}
.right img{
   object-fit: cover;
   width: 400px;
   height: 300px;
}

.left h3{
    font-size: 3rem;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    color: orange;
}
.left p{
    padding: 20px;
    font-size:1rem;
    font-family: 'Nunito', sans-serif;
}
.left-btn{
    width: 150px;
    height: 40px;
    border-radius: 6px;
margin-left: 20px;
   margin-top: 7px;
   font-size: 1rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: orange;
}
.left-btn:hover{
    background-color: rgb(235, 186, 95);
}




.exibition{
    width: 100%;
    height: 500px;
  margin-top: -180px;
 
}

.first{
    font-size: 3rem;
    text-align: center;
  
   
}
.first p{
    margin-top: 240px;
    font-family: 'Nunito', sans-serif;
    color: orange;
    font-weight: bold;
}


.second{
    width: 90%;
    display: grid;
    align-items: center;
    justify-content: center;
  grid-template-columns: repeat(3,30%);
   gap: 30px;
  
   margin: auto;
 margin-top: 120px;
    
}
.second a{
    outline: none;
    text-decoration: none;
}
.seconddiv{
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
    
}
.seconddiv:hover{
    scale: 0.8;
    transition: .3s;
}

.seconddiv img{
   
    width: 300px;
    
}

.description{
    margin: auto;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.description h3{
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
    
}
.description p{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    
}

/* Our crafts */

.first-craft{
    font-size: 3rem;
    text-align: center;
  border: 2px solid rgb(1, 1, 1);
   
}
.first-craft p{
    margin-top: 60px;
    font-family: 'Nunito', sans-serif;
    color: orange;
    font-weight: bold;
}

.crafts{
    width: 100%;
    height: 1100px;
  margin-top: 400px;
  background: #000;
  color: white;
 
}

.craft-seconddiv{
    width: 300px;
    height: 390px;
 background: #272323;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
}

.craft-seconddiv:hover{
    scale: 0.8;
    transition: .3s;
}
.craft-seconddiv img{
    width: 300px;
    
}



.craft-description{
margin: auto;
padding: 3px;
text-align: center;
}
.craft-description h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
}
.craft-description i{
    font-size: 20px;
    color: rgb(214, 124, 14);
    margin-bottom: 10px;
}

.icons{
    display: flex;
   
    margin-top: 30px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.icons li{
    list-style-type: none;
    padding: 9px;
}


.Arrivals{
    width: 100%;
    height: 800px;
    margin-top: -200px;
}
.Arrival-seconddiv{
    width: 300px;
    height: 430px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 border-radius: 8px;
   
}
.Arrival-seconddiv:hover{
    scale: 0.9;
    transition: .3s;
}
.Arrival-seconddiv img{
    width: 300px;
    
}
.Arrival-div h3, h4{
    margin-bottom: 20px;
    margin-top: 10px;
  
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
}

.Arrival-div p{
    padding: 4px;
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
}



/* footer */
.footer{
    width: 100%;
    height: 20em;
 
margin-top: 80px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
color: rgb(15, 15, 15);
}


.grid-footer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    margin: auto;
  
  
}


.box1{
 
   margin: 20px;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.box1 p{
margin-top: 20px;
font-family: 'Nunito', sans-serif;
}
.box3{
   
    margin: 20px;
}
.box3 p{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;

}

.box3 li{
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
}
.box2{
    display: flex;
    font-family: 'Nunito', sans-serif;
   
 }
.box2 li{
    font-size: 1rem;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
}
.box4{
   
    margin: 20px;
}
.box4 p{
margin-top: 20px;
font-family: 'Nunito', sans-serif;
}
.box4 input{
    text-decoration: none;
    outline: none;
    border-radius: 3px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px, rgba(0, 0, 0, 0.13) 0px 3px 3px;
    height: 40px;
    width: 270px;
display: flex;
flex-direction: row;
padding: 4px;
margin: 8px;
margin-top: 30px;
}

.footer-btn{
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 4px;
   margin-left: 70px;
   margin-top: 30px;
   background: #000;
   color: white;
}

.footer-btn:hover{
    background-color: orange;
}
.footer-icons{
    display: flex;
    margin-top: 20px;
  
}
.footer-icons li{
   display: flex;
 padding: 5px;
    font-size: 2rem;
    list-style-type: none;
    margin-top: -8px;
    
}

.footer-icons li:hover{
   color: orange;
   scale: .9;
   transition: .2s;
}



@media (min-width:200px) and (max-width:1050px){
   


    .hero{
        width: 100%;
        height: 600px;
        background: #000;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .right{
        width: 700px;
        height: 300px;
       
       margin-left: -10px;
    }
    .left {
        width: 80%;
        height: 300px;
      
        margin: 10px; 
         
    }
    .right img{
       object-fit: cover;
       width: 700px;
       height: 300px;
    }
    
    .left h3{
        font-size: 2rem;
        padding: 20px;
    }
    .left p{
        padding: 20px;
        font-size:1rem;
    }
    .left-btn{
        width: 150px;
        height: 40px;
        border-radius: 6px;
    margin-left: 20px;
       margin-top: 7px;
        text-align: center;
    }
    
    




    

.exibition{
    width: 100%;
    height: 500px;
  margin-top: -180px;
 
}

.first{
    font-size: 3rem;
    text-align: center;
  
   
}
.first p{
    margin-top: 240px;
}

.second{
    width: 90%;
    display: grid;
    align-items: center;
    justify-content: center;
  grid-template-columns: repeat(2,30%);
   gap: 100px;
  
   margin: auto;
 margin-top: 120px;
    
}
.second a{
    outline: none;
    text-decoration: none;
}
.seconddiv{
    width: 250px;
    height: 300px;
margin-left: -30px;
  
}


.seconddiv img{
   
    width: 250px;
    
}

.description{
    margin: auto;

    text-align: center;
}
.description2{
    margin-top: 20px;
  
    text-align: center;
    
}
    
  


.crafts{
    width: 100%;
    height: 1600px;
  margin-top: 900px;
 
}

.craft-seconddiv{
    width: 260px;
    height: 360px;
 
  
}

.craft-seconddiv img{
    width: 260px;
    
}

.Arrivals{
    width: 100%;
    height: 800px;
    margin-top:50px;
}
.Arrival-seconddiv{
    width: 300px;
    height: 430px;
 
   
}

.Arrival-seconddiv img{
    width: 300px;
    
}
   

.icons{
    display: flex;
  

    height: 60px;
    justify-content: center;
    align-items: center;
}

.icons li{
    list-style-type: none;
    padding: 4px;
    
}
   
    
    /* footer */
.footer{
    height: 50em;
    margin-top: 800px;
}
    .grid-footer{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,45%);
        margin: auto;
      
       margin-top: -200px;
    }
    .box2{
        display: flex;
       
       margin: 20px;
     }
    
    .box3{
        width: 200px;
        font-size:1rem ;
    }
    .box3 li{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    .box3 p{
        font: bold;
    }
  
    .box4{
        margin: 5px;
        padding: 12px;
    }
    
    .footer-icons{
        display: flex;
        margin-top: 20px;
      
    }
    .footer-icons li{
        padding: 10px;
        font-size: 2rem;
    }
}


@media (min-width:200px)and (max-width:700px){






    .hero{
        width: 100%;
        height: 600px;
        background: #000;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .right{
        width: 260px;
        height: 200px;
      
        margin-left:-5px
    }
    .left {
        width: 260px;
        height: 400px;
      
        margin: 10px; 
         
    }
    .right img{
       object-fit: cover;
       width: 260px;
       height: 200px;
    }
    
    .first{
        font-size: 2rem;
    }


    .second{
        width: 90%;
        display: grid;
        align-items: center;
        justify-content: center;
      grid-template-columns: repeat(1,30%);
       gap: 100px;
      
       margin: auto;
     margin-top: 120px;
        
    } 
   

    .seconddiv{
        width: 270px;
        height: 300px;
    margin-left: -90px;
       
    }
    
    
    .seconddiv img{
       
        width: 270px;
        
    }
    



    .crafts{
        width: 100%;
        height: 180rem;
      margin-top: 130rem;
     
    }
    
    .craft-seconddiv{
        width: 260px;
        height: 360px;
     margin-left: -80px;
       
    }




    .Arrivals{
        width: 100%;
        height: 800px;
        margin-top:-180px;
    }
    .Arrival-seconddiv{
        width: 280px;
        height: 400px;
     margin-left: -100px;
       
    }
    
    .Arrival-seconddiv img{
        width: 280px;
        
    }
    /* footer */
    .box4 input{
        width: 200px;
    }
    .footer-btn{
        margin: 30px;
    }
    .footer{
      
        height: 70em;
        margin-top: 1100px;
    }
    .grid-footer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,50%);
        margin: auto;
       
        margin-top: -205px;
    }
    
    .box1{
        width: 300px;
        height: 300px;
  margin-left: 8px;
       
    }
    .box2{
        width: 300px;
        height: 300px;
     
        margin-left: -1px;
    }
    .box4{
        width: 300px;
        height: 380px;
    
         
    }
    .box4 input{
        margin: 8px;
        width: 260px;
    }
    .footer-btn{
        margin-left: 62px;
        background-color: white;
        color: black;
    }
    
    .footer-icons{
        display: flex;
        font-size: 1rem;
        height: 40px;
       
    }
    .main{
        display: flex;
        flex-direction: row;
    }
    .main img{
        width: 240px;
        margin-left:-120px;
    }
    .main h1{
        font-size:2rem;
        margin-top: 400px;
display: flex;

       
    }
   
}